@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>
<form action="/Banco/Crear" method="post">

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="Nombre" placeholder="Nombre">

    </div>

    <div class="form-Categoria">
        <label> Categoria</label>

        <select name="Categoria">
            <option value="Propio">Propio</option>
            <option value="Credito">Credito</option>
        </select>
    </div>

    <div class="form-group">
        <label>SadldoInicial</label>
        <input type="number" class="form-control" name="SadldoInicial" placeholder="SadldoInicial">

    </div>

    <button class="btn btn-primary">Guardar</button>

</form>
